.items-row{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.rooms-row span{
  position: relative;
  display: inline-block;
}

.section-top-rated{
  margin-top: 20px;
}

.section-heading{
  font-family: Montserrat;
  color: #0e0d0d;
  font-size: 25px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.h-align div{
  display:inline-block;
}

.h-align{
  padding-top: 12px;
  align-content: center;
}

.food-details{
  font-family: Montserrat;
  font-size: 12px;

  width: 260px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

  margin: 10px;
}
.book-button{

  color: #ffffff;
  font-size: 15px;
  text-align: center;
  vertical-align: center;
  line-height: 35px;
  width: 150px;
  height: 35px;
  background: #34495e;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  margin-top: 10px;
}

.food-description{
  padding:10px;
}

.food-image{

  height: 177.18px;
  width: 260px;
  border-radius: 3px;
  position: relative;
}

.food-image span{
  padding-top: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
}

.food-name{
  padding-top: 5px;
  font-size: 17px;
  margin-bottom: 2px;
  padding-right: 5px;
  text-transform: uppercase;
  color:#484848;
}



.food-cost{
  font-family: Montserrat;
  font-size: 15px;
  color:#484848;
  font-weight: 400;
}

.checked{
  color: #F89406;
}

.rating-value{
  margin-left: 5px;
}

.main-nav{
  padding: 8px;
  line-height: 40px;
  background: #FFF;
  border-bottom: 1px solid #d8d8d8
}

#main-logo{
  font-family: Montserrat;
  color: #ffffff;
  font-size: 25px;
  font-weight:  500;
}
.nav-links{
  float: right;
}
.nav-items li{
  padding: 0px 50px 0px 0px;
  display: inline;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: #484848;
}

.cart-icon{
  width: 22px;
  height: 22px;
}

.cart-button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}

#cart{

}
.backdrop-modal{

  padding: 64px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */

}

.cart-area{
  margin: 0px auto;
  position: relative;
  width: 500px;
  height: 500px;
  background: #ffffff;
  padding: 32px;
  vertical-align: middle;


}
.close-button{
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 15px;
  width: 20px;
  height: 20px;

}
