<!--The content below is only a placeholder and can be replaced.-->
<div class="main-nav container-fluid">
  <div class="nav-logo"></div>
  <div class="nav-links">
    <ul class="nav-items">

      <li class="nav-item">Sign Up</li>
      <li class="nav-item">Log In</li>
      <li class="nav-item"><button class="cart-button"> 4 <img class="cart-icon" src="assets/shopping-cart.png"></button></li>
    </ul>
  </div>
</div>

<div class="section-top-rated container">
  <div class="section-heading">Top Rated Rooms</div>
  <div class="items-row">
      <span class="food-details">
        <div class="food-image" style="background: url(/img/454.jpg) no-repeat;background-size:contain;"></div>
        <div class="food-description">
          <div class="food-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="rating-value">4.8</span>

          </div>

          <div class="food-name">Chicken Burger</div>

            <div class="food-cost">RS 250</div>


          <div class="book-button">Order</div>


        </div>

      </span>

    <span class="food-details">
        <div class="food-image" style="background: url(/img/454.jpg) no-repeat;background-size:contain;"></div>
        <div class="food-description">
          <div class="food-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="rating-value">4.8</span>

          </div>

          <div class="food-name">Chicken Burger</div>

            <div class="food-cost">RS 250</div>


          <div class="book-button">Order</div>


        </div>

      </span><span class="food-details">
        <div class="food-image" style="background: url(/img/454.jpg) no-repeat;background-size:contain;"></div>
        <div class="food-description">
          <div class="food-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="rating-value">4.8</span>

          </div>

          <div class="food-name">Chicken Burger</div>

            <div class="food-cost">RS 250</div>


          <div class="book-button">Order</div>


        </div>

      </span><span class="food-details">
        <div class="food-image" style="background: url(/img/454.jpg) no-repeat;background-size:contain;"></div>
        <div class="food-description">
          <div class="food-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="rating-value">4.8</span>

          </div>

          <div class="food-name">Chicken Burger</div>

            <div class="food-cost">RS 250</div>


          <div class="book-button">Order</div>


        </div>

      </span>



  </div>


</div>

