<div id="reg" class="backdrop-modal">
  <div class="reg-area">

    <div>
      <div class="email-login-topic">
        <span>Online Mobile Payment (Dialog Only)</span>
      </div>
      <form (submit)="registerUser($event)">
        <div class="text-container">
          <div class="email-icon icon"></div>
          <input type="text" placeholder="Payees name" id="mobile_name" name="name">

        </div>
        <div class="text-container">
          <div class="user-icon icon"></div>
          <input type="number" placeholder="Mobile number" id="mobile_number" name="number">

        </div>
        <div class="text-container">
          <div class="user-icon icon"></div>
          <input type="number" placeholder="Pin Number" id="mobile_pin" name="pin"  min="1" max="9999">
        </div>

        <button type="submit" class="pay_button" name="pay_button">Pay Now</button>
      </form>

    </div>
  </div>
</div>
