<!--The content below is only a placeholder and can be replaced.-->
<div class="main-nav container-fluid">
  <div class="nav-logo"></div>
  <div class="nav-links">
    <ul class="nav-items">


      <li class="nav-item" (click)="getauth().userLogout()">Log Out</li>
      <li class="nav-item"><button class="cart-button" (click)=" setShowCart(true) "> {{cartCount}} <img class="cart-icon" src="assets/shopping-cart.png"></button></li>
    </ul>
  </div>
</div>

<div class="section-top-rated container">
  <div class="section-heading">Top Rated Foods</div>
  <div >
    <div  *ngFor="let row of rowCount;let crow = index">
      <div *ngFor="let foods of foodDetails">
      <div class="items-row" >


        <span class="food-details" *ngFor="let food of foods | slice: (crow*4) : (((crow+1)*4)) ;let i = index">

        <div class="food-image" style="background: url(/assets/454.jpg) no-repeat;background-size:contain;"></div>
        <div class="food-description">
          <div class="food-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="rating-value">4.8</span>

          </div>

          <div class="food-name">{{food.name}}</div>

            <div class="food-cost">RS {{food.price}}</div>


          <div class="order-button" (click)="addToCart(food)" >Order</div>


        </div>

      </span>
      </div>






    </div>


    </div>
  </div>

</div>

<div class="backdrop-modal" [ngClass]="{ 'cart' : !getShowCart()}">
  <div class="cart-area">
    <div class="close-button" (click)=" setShowCart(false)">
      <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 469.78 469.79">
        <defs>
          <style>
            .cls-1 {
              fill: #484848;
            }
          </style>
        </defs>
        <path class="cls-1" d="M285.37,234.69l174-174a35.55,35.55,0,0,0-50.28-50.28l-174,174-174-174A35.55,35.55,0,0,0,10.81,60.7l174,174L10.42,409.09A35.55,35.55,0,1,0,60.7,459.36L235.09,285l174,174a35.55,35.55,0,0,0,50.28-50.28Z"
              transform="translate(0 0)" />
      </svg>
    </div>
    <div class="cart-topic">Shopping Cart</div>

    <table class="cart-items">
      <tr class="cart-header">

        <th class="header-name">Description</th>
        <th class="header-price">Price</th>
        <th class="header-qty">Qty</th>
        <th class="header-total">Total</th>
        <th class="header-close">Remove</th>
      </tr>
      <tr class="cart-item animate-repeat" *ngFor=" let item of cart ">
        <td>{{item.name}}</td>
        <td>Rs. {{item.price}}</td>
        <td>{{item.qnty}}</td>
        <td>RS. {{item.qnty * item.price}}</td>
        <td> <div  (click)="removeItem(item)" class="item-remove-button" >
          <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 469.78 469.79">
            <defs>
              <style>
                .cls-1 {
                  fill: #484848;
                }
              </style>
            </defs>
            <path class="cls-1" d="M285.37,234.69l174-174a35.55,35.55,0,0,0-50.28-50.28l-174,174-174-174A35.55,35.55,0,0,0,10.81,60.7l174,174L10.42,409.09A35.55,35.55,0,1,0,60.7,459.36L235.09,285l174,174a35.55,35.55,0,0,0,50.28-50.28Z"
                  transform="translate(0 0)" />
          </svg>
        </div> </td>
      </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="2" class="grand-total">Grand Total {{getGrandTotal()}}</td>
    </tr>
      <br/>
      <br/>
      <tr>
        <td  ></td>


      <td><div class="pay-button">Pay By Mobile Cash</div></td>

      <td  ></td>
      <td><div  class="pay-button">Pay By Card</div></td></tr>
    </table>

  </div>
</div>
