<div id="reg" class="backdrop-modal">
  <div class="reg-area">

    <div class="social-login">


      <div class="email-login-topic">
        <span>Register with Email</span>
      </div>
      <form (submit)="registerUser($event)">
        <div class="text-container">
          <div class="email-icon icon"></div>
          <input type="email" placeholder="Email" id="reg_email" name="user_email">

        </div>
        <div class="text-container">
          <div class="user-icon icon"></div>
          <input type="text" placeholder="First Name" id="reg_fname" name="user_fname">

        </div>
        <div class="text-container">
          <div class="user-icon icon"></div>
          <input type="text" placeholder="Last Name" id="reg_lname" name="user_lname">

        </div>

        <div class="text-container">
          <div class="pass-icon icon"></div>
          <input type="password" placeholder="Password" id="reg_pass" name="user_pass">

        </div>

        <button type="submit" class="reg_button" name="login_button">Register With Email</button>
      </form>

      <div class="register-login">
        <span>Already have a FastFood Account? </span>
        <span class="login-signup-link">
            <a href="/login">Log in</a>
          </span>
      </div>
    </div>
  </div>
</div>
